/* FormComponent.module.css */
.formContainer {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  min-height: 100vh; /* Ensure the form takes at least the full height of the viewport */
}

.formGrid {
  display: table;
  width: 100%; /* Ensure the table takes the full width of the container */
  border-collapse: separate;
  border-spacing: 2px;
}

.formField {
  display: table-row;
}

.label,
.inputField {
  display: table-cell;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd; /* Add border for a table-like appearance */
}

.label {
  text-align: right;
  margin-right: 10px;
  width: 150px; /* Adjust the width as needed */
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button {
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.active {
  background-color: #007bff;
  color: #fff;
}
/* FormComponent.module.css */
.groupLabel {
  font-weight: bold;
  margin-bottom: 10px;
}
